.userData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #0f1015;
}

table {
    width: 100%;
    padding: 15px;
}

tr {
    padding: 25px;
}

table,
thead,
tr,
thead,
tbody {
    border: 1px solid #1b1c23;
    border-collapse: collapse;
}

td, th{
    padding: 10px;
}

.userButton{
    padding: 3px 8px;
    margin-right: 8px;
    outline: none;
    background-color: unset;
    cursor: pointer;
}
.delete {
    color: red;
    border: 1px solid red;

}
.delete:hover{
    background-color: red;
    color: white;
}

.view:hover{
    background-color: green;
}

.edit {
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

.edit:hover{
    background-color: dodgerblue;
    color: white;
}

.cancel{
  background-color: #2b2c38;
  border: 1px solid #2b2c38;
  color: #f6f6f6;  
}

.cancel:hover{
  background-color: black;
  border-color: black;
}